# Initial Cleaning

In [1]:
from imports import *

In [2]:
df = pd.read_csv('data_science.csv')

In [3]:
df.drop(columns = 'link', inplace = True)

In [4]:
# Checking null values
df.isnull().sum()

company         0
location        0
mode            0
type            0
level           0
role            0
requirements    0
edu_bachelor    0
edu_master      0
edu_phd         0
edu_other       0
skills          0
dtype: int64

### Create Dummy

In [ ]:
level_dummy = pd.get_dummies(df[['level']], dummy_na=False, drop_first=False)
df = pd.concat([df, level_dummy], axis=1)

### Rename Columns

In [ ]:
df.rename(columns = {'level_Associate':'associate', 'level_Entry':'entry',
                              'level_Mid-Senior':'mid_senior'}, inplace = True)

## Summarize Initial Cleaning

In [ ]:
def prep_data(df):
    '''
    This function takes in a dataframe and return the dataframe with meaningless column dropped,
    and dummy variables for categorical feature concatenated.
    '''
    df.drop(columns = 'link', inplace = True)
    level_dummy = pd.get_dummies(df[['level']], dummy_na=False, drop_first=False)
    df = pd.concat([df, level_dummy], axis=1)
    df.rename(columns = {'level_Associate':'associate', 'level_Entry':'entry',
                              'level_Mid-Senior':'mid_senior'}, inplace = True)
    return df

# Text Preparation

- Convert text to all lower case for normalcy.
- Remove any accented characters, non-ASCII characters.
- Remove special characters.
- Stem or lemmatize the words.
- Remove stopwords.
- Store the clean text and the original text for use in future notebooks.

### Convert text to all lower case

In [5]:
df.requirements = df.requirements.str.lower()

In [6]:
df.requirements

0      bachelor degree\nminimum years of experience: 4 year(s)\ndemonstrates thorough abiliti...
1      identify and execute on predictive models to help internal teams at masterworks unders...
2      self-motivated, highly disciplined, and passionate about discovering the right therape...
3      2 years + experience with python, java, or other object-oriented programming languages...
4      2+ years of work experience doing quantitative analysis to tackle business problems\ns...
                                                 ...
195    3 to 5 years of experience in applied data science in a retail marketing or operations...
196    bs in engineering, computer science, data science or equivalent\n2+ years of experienc...
197    4+ years of proven experience in an analytics role\nability to communicate the results...
198    3-7 years professional experience in data analysis or practical experience buildingâ€¯cu...
199    develop and implement scalable and efficient models on large-scale datasets to address...
Name: requirements, Length: 200, dtype: object

### Removing accented characters

In [5]:
def basic_clean(string):
    '''
    This function takes in a string and
    returns the string normalized.
    '''
    string = unicodedata.normalize('NFKD', string)\
             .encode('ascii', 'ignore')\
             .decode('utf-8', 'ignore')
    # Removing white space
    string = re.sub(r'\s+', ' ',   string)
    # Removing anything that is not a-z, 0-9, a single quote, or whitespace
    string = re.sub(r"[^a-z0-9'\s]", '', string)
    return string

In [8]:
df.requirements = df.requirements.apply(basic_clean)

In [7]:
df.requirements

0      achelor egree inimum ears f xperience 4 years emonstrates thorough abilities andor a p...
1      dentify and execute on predictive models to help internal teams at asterworks understa...
2      elfmotivated highly disciplined and passionate about discovering the right therapeutic...
3      2 years  experience with ython ava or other objectoriented programming languages andso...
4      2 years of work experience doing quantitative analysis to tackle business problems tro...
                                                 ...
195    3 to 5 years of experience in applied data science in a retail marketing or operations...
196     in ngineering omputer cience ata cience or quivalent 2 years of experience in ngineer...
197    4 years of proven experience in an analytics role bility to communicate the results of...
198    37 years professional experience in data analysis or practical experience building cus...
199    evelop and implement scalable and efficient models on largescale datasets to address v...
Name: requirements, Length: 200, dtype: object

### Tokenization

In [6]:
def tokenize(string):
    '''
    This function takes in a string and
    returns a tokenized string.
    '''
    # Create tokenizer.
    tokenizer = nltk.tokenize.ToktokTokenizer()

    # Use tokenizer
    string = tokenizer.tokenize(string, return_str = True)

    return string

In [11]:
df.requirements = df.requirements.apply(tokenize)

In [12]:
df.requirements

0      bachelor degree minimum years of experience 4 years demonstrates thorough abilities an...
1      identify and execute on predictive models to help internal teams at masterworks unders...
2      selfmotivated highly disciplined and passionate about discovering the right therapeuti...
3      2 years experience with python java or other objectoriented programming languages hand...
4      2 years of work experience doing quantitative analysis to tackle business problems str...
                                                 ...
195    3 to 5 years of experience in applied data science in a retail marketing or operations...
196    bs in engineering computer science data science or equivalent 2 years of experience in...
197    4 years of proven experience in an analytics role ability to communicate the results o...
198    37 years professional experience in data analysis or practical experience building cus...
199    develop and implement scalable and efficient models on largescale datasets to address ...
Name: requirements, Length: 200, dtype: object

### Stemming

In [7]:
def stem(string):
    '''
    This function takes in a string and
    returns a string with words stemmed.
    '''
    # Create porter stemmer.
    ps = nltk.porter.PorterStemmer()
    
    # Use the stemmer to stem each word in the list of words we created by using split.
    stems = [ps.stem(word) for word in string.split()]
    
    # Join our lists of words into a string again and assign to a variable.
    string = ' '.join(stems)
    
    return string

### Lemmatization

In [9]:
def lemmatize(string):
    '''
    This function takes in string for and
    returns a string with words lemmatized.
    '''
    # Create the lemmatizer.
    wnl = nltk.stem.WordNetLemmatizer()

    # Use the lemmatizer on each word in the list of words we created by using split.
    lemmas = [wnl.lemmatize(word) for word in string.split()]

    # Join our list of words into a string again and assign to a variable.
    string = ' '.join(lemmas)
    
    return string

In [31]:
df.requirements = df.requirements.apply(lemmatize)

and           19
data           7
of             7
a              4
for            4
analytical     4
eg             3
etc            3
using          3
nlp            3
dtype: int64
to            9
market        8
and           8
in            6
the           5
experience    4
data          4
a             4
artist        4
for           3
dtype: int64
and           5
a             3
or            3
experience    3
learning      3
machine       3
of            3
the           2
right         2
with          2
dtype: int64
experience        4
a                 4
and               3
with              2
etc               2
year              2
objectoriented    2
programming       2
algorithm         2
data              2
dtype: int64
experience    4
to            4
with          3
and           3
a             2
or            2
of            2
analysis      2
business      2
in            2
dtype: int64
and           13
in             9
data           9
of             7
or             6
a              6
azure          4
knowledge      4
experience     4
is             4
dtype: int64
a             11
data          10
in             9
and            7
of             7
be             7
experience     6
science        4
insurance      3
working        3
dtype: int64
and           9
with          6
to            5
data          5
in            3
experience    3
ability       3
of            3
model         2
a             2
dtype: int64
and           5
a             3
or            3
experience    3
learning      3
machine       3
of            3
the           2
right         2
with          2
dtype: int64
and           13
data          12
to             7
the            5
with           4
experience     4
in             4
a              4
strong         3
complex        3
dtype: int64
and           7
experience    4
skill         2
etc           2
to            2
eg            1
c             1
java          1
python        1
r             1
dtype: int64
data          4
a             4
and           4
experience    2
the           2
research      2
of            2
in            2
insight       2
with          2
dtype: int64
with          9
experience    8
and           5
or            5
of            4
2             3
year          3
in            2
clearance     2
tssci         2
dtype: int64
experience     6
with           5
in             5
data           5
and            5
working        3
development    3
design         2
the            2
software       2
dtype: int64
and           6
a             5
year          4
or            4
experience    4
ml            3
of            3
data          3
such          2
degree        2
dtype: int64
in             3
data           3
science        2
a              2
machine        2
learning       2
statistic      2
with           2
statistical    1
computer       1
dtype: int64
in            6
experience    6
a             5
and           5
with          4
advanced      3
or            3
applied       2
year          2
2             2
dtype: int64
experience    5
and           4
working       4
with          4
a             4
data          3
of            3
plus          3
year          2
business      2
dtype: int64
and             7
to              6
of              3
experience      3
model           3
demonstrates    2
preferred       2
business        2
or              2
with            2
dtype: int64
experience     6
and            4
data           3
ml             2
or             2
previous       2
programming    2
on             2
tool           2
such           2
dtype: int64
and           11
data          11
experience    10
with           9
a              7
etc            5
in             4
of             3
watson         3
solution       3
dtype: int64
or            5
a             4
to            4
with          3
experience    2
ability       2
data          2
work          2
other         2
and           2
dtype: int64
and            3
of             3
experience     2
a              2
to             2
in             2
science        2
mathematics    2
with           2
c              2
dtype: int64
experience    3
or            2
preferred     2
excel         1
equivalent    1
field         1
related       1
in            1
degree        1
bachelor      1
dtype: int64
experience    4
in            4
data          4
and           3
skill         2
to            2
preferred     2
high          2
of            2
for           2
dtype: int64
a             7
in            6
of            5
or            4
and           4
management    3
experience    3
with          3
tool          2
science       2
dtype: int64
in             5
experience     5
or             3
scientific     2
science        2
and            2
strong         2
software       2
programming    2
with           2
dtype: int64
experience         5
and                4
of                 4
7                  3
year               3
team               3
engineering        3
data               2
crossfunctional    2
managing           2
dtype: int64
and            6
data           5
a              5
analytics      4
in             3
or             3
such           3
of             3
experience     3
engineering    3
dtype: int64
to           6
and          6
in           5
a            4
analytics    4
of           3
ability      3
with         2
the          2
level        2
dtype: int64
experience    4
or            4
with          4
data          3
a             3
and           2
including     2
in            2
to            2
clearance     2
dtype: int64
and        13
to         10
the         4
with        4
in          4
of          4
a           3
by          3
ability     2
method      2
dtype: int64
in            6
or            6
a             5
experience    4
data          3
analytical    2
modeling      2
with          2
business      2
statistic     2
dtype: int64
engineering    6
and            5
or             4
science        4
in             4
a              4
year           3
etc            2
tableau        2
chemistry      2
dtype: int64
with          5
degree        5
or            4
and           3
experience    3
relevant      3
year          3
bachelor      2
skill         2
the           2
dtype: int64
and          23
to           10
knowledge     9
of            9
data          7
ability       7
the           6
in            5
tool          4
process       4
dtype: int64
of            11
and           11
a             10
or             9
knowledge      7
experience     6
with           6
data           4
to             4
such           4
dtype: int64
and           5
experience    4
1             3
year          3
preferred     3
in            3
to            3
of            3
with          3
data          2
dtype: int64
experience     8
in             6
and            6
data           4
eg             4
a              3
or             3
engineering    2
of             2
degree         2
dtype: int64
and          9
of           7
in           5
learning     4
knowledge    4
software     3
machine      3
a            3
etc          2
including    2
dtype: int64
and           4
data          4
the           3
a             3
to            3
for           2
ability       2
or            2
engineer      2
experience    2
dtype: int64
and          8
to           6
skill        4
data         3
of           3
own          3
a            2
structure    2
ability      2
on           2
dtype: int64
in             6
experience     5
and            5
or             4
proficiency    3
5              2
to             2
statistic      2
data           2
a              2
dtype: int64
in               5
or               4
data             3
and              3
eg               2
experience       2
science          2
comfortable      2
effectiveness    2
r                2
dtype: int64
and           9
in            7
experience    5
or            4
a             4
to            3
data          2
large         2
with          2
ability       2
dtype: int64
year          10
experience     9
least          7
at             7
in             7
or             6
of             6
3              5
with           5
data           4
dtype: int64
and          7
business     6
to           4
of           4
analytics    3
insight      3
in           2
solve        2
problem      2
analytic     2
dtype: int64
in            6
and           5
to            4
a             4
data          4
or            3
experience    3
nice          2
problem       2
business      2
dtype: int64
master    1
'         1
s         1
degree    1
710       1
year      1
dtype: int64
experience    4
or            4
with          4
data          3
a             3
and           2
including     2
in            2
to            2
clearance     2
dtype: int64
and           9
data          7
to            5
or            5
of            4
experience    3
with          3
for           3
design        2
analysis      2
dtype: int64
data           5
experience     5
and            4
in             4
with           4
science        3
to             3
hand           2
development    2
on             2
dtype: int64
and            5
in             4
with           3
the            3
of             3
experience     2
statistical    2
to             2
technique      2
a              2
dtype: int64
of               8
and              6
a                5
with             4
in               4
understanding    4
data             3
or               3
environment      2
familiarity      2
dtype: int64
and           6
experience    5
minimum       3
required      3
or            3
of            3
with          2
language      2
sql           2
science       2
dtype: int64
and           6
experience    6
or            4
of            4
data          3
in            3
to            2
an            2
business      2
skill         2
dtype: int64
and             7
data            6
from            3
team            2
implementing    2
requirement     2
technical       2
solution        2
ensuring        2
system          2
dtype: int64
to           12
and          11
ability      10
with          8
of            8
a             7
in            6
the           5
knowledge     4
job           3
dtype: int64
with          8
experience    8
and           7
or            5
learning      4
a             3
of            2
like          2
sql           2
machine       2
dtype: int64
in              6
and             6
science         6
with            4
or              3
an              3
quantitative    3
data            3
computer        3
of              3
dtype: int64
in                10
experience         9
a                  8
and                8
of                 5
for                5
or                 5
data               4
bioinformatics     3
such               3
dtype: int64
and             5
of              4
a               4
in              3
statistic       3
to              2
ability         2
proficiency     2
demonstrated    2
or              2
dtype: int64
experience    6
or            6
in            6
year          5
of            5
a             4
1             4
machine       3
and           3
c             2
dtype: int64
python                                          1
programming                                     1
languagecdata                                   1
sciencejavahadoophivematlabsqlscalamapreduce    1
dtype: int64
and             8
with            5
neural          5
of              4
it              4
experience      4
the             4
our             3
architecture    3
a               3
dtype: int64
and           16
of             7
a              7
to             6
or             6
ability        4
data           4
experience     4
in             3
with           3
dtype: int64
and           13
data          12
to             7
the            5
with           4
experience     4
in             4
a              4
strong         3
complex        3
dtype: int64
and           13
data          12
to             7
the            5
with           4
experience     4
in             4
a              4
strong         3
complex        3
dtype: int64
exp10       1
sql         1
query       1
big         1
flow        1
data        1
looker      1
tableau     1
advanced    1
year        1
dtype: int64
and           10
to             8
experience     8
with           6
a              5
in             4
business       4
or             3
data           3
causal         2
dtype: int64
and           7
in            7
experience    6
data          6
a             5
is            3
like          3
plus          3
with          2
model         2
dtype: int64
experience    9
year          7
least         6
at            6
in            6
or            6
with          5
2             4
of            4
1             3
dtype: int64
and           7
experience    7
a             6
of            6
in            5
year          5
such          4
or            4
1             3
one           3
dtype: int64
python                                          1
programming                                     1
languagecdata                                   1
sciencejavahadoophivematlabsqlscalamapreduce    1
dtype: int64
experience    5
required      5
analysis      3
and           3
business      3
or            3
of            2
jobrelated    2
year          2
with          2
dtype: int64
of            7
or            6
data          5
in            5
experience    4
a             4
and           3
other         2
knowledge     2
relevant      2
dtype: int64
experience    8
with          7
and           4
of            4
data          3
in            3
to            3
pipeline      3
or            3
python        3
dtype: int64
and           16
with           9
data           8
in             7
experience     6
or             6
of             6
a              5
research       5
analysis       5
dtype: int64
and           7
experience    5
in            5
of            5
or            4
to            3
skill         3
year          3
team          2
ability       2
dtype: int64
and             6
is              5
required        4
eg              4
data            4
science         3
a               3
analysis        3
in              3
segmentation    2
dtype: int64
and           9
marketing     4
business      4
to            4
with          3
experience    3
in            3
data          3
the           2
or            2
dtype: int64
the         4
a           3
of          3
science     2
in          2
position    2
study       2
field       2
or          2
at          2
dtype: int64
and           9
experience    7
with          5
prior         5
data          5
or            4
eg            3
in            3
analysis      3
modeling      2
dtype: int64
and           19
to             7
a              7
data           6
of             5
with           5
experience     4
ability        4
analysis       3
for            3
dtype: int64
and           8
to            4
market        4
of            3
knowledge     3
trading       2
including     2
the           2
a             2
compliance    2
dtype: int64
and           8
experience    7
in            5
a             4
data          4
with          3
familiar      2
excellent     2
skill         2
or            2
dtype: int64
and        10
to          6
or          5
ability     5
of          5
a           5
data        4
with        4
such        4
science     4
dtype: int64
etc           8
eg            6
a             5
data          4
or            4
analysis      3
method        3
design        3
in            3
classifier    2
dtype: int64
and           9
experience    5
a             5
of            4
in            4
or            3
be            2
audience      2
with          2
creating      2
dtype: int64
of             2
degree         2
effectively    2
to             2
ability        2
and            2
oral           1
3              1
year           1
work           1
dtype: int64
or              4
with            3
field           2
experience      2
a               2
data            2
in              2
and             2
3               1
presentation    1
dtype: int64
experience     4
in             2
with           2
bi             2
and            2
discover       1
to             1
data           1
correlation    1
translating    1
dtype: int64
in             2
or             2
a              2
and            2
bachelor       1
python         1
data           1
scientist      1
proficiency    1
coding         1
dtype: int64
and           4
experience    3
statistic     2
math          2
of            2
in            2
data          2
eg            2
skill         2
business      2
dtype: int64
engineering           3
data                  2
and                   2
computer              2
calculus              1
electrical            1
technology            1
systemsinformation    1
information           1
science               1
dtype: int64
and         7
to          6
ability     5
required    4
or          4
skill       4
in          3
with        3
similar     2
problem     2
dtype: int64
or            3
the           3
experience    3
learning      2
model         2
deep          2
build         2
cnn           1
nlp           1
rnn           1
dtype: int64
and           13
experience    10
science        9
in             7
solution       6
data           6
with           5
the            4
of             4
a              4
dtype: int64
and           18
experience    12
with          10
or             8
of             7
network        6
analytics      5
working        5
in             5
data           4
dtype: int64
and        12
to         10
the         4
of          4
in          4
by          3
a           3
with        3
be          2
ability     2
dtype: int64
in          7
and         5
or          5
a           5
with        4
data        4
of          3
analytic    3
science     3
skill       2
dtype: int64
data          12
analytics     10
experience    10
in             9
or             9
of             3
statistic      3
degree         2
pricing        2
marketing      2
dtype: int64
experience     6
and            4
data           3
ml             2
or             2
previous       2
programming    2
on             2
tool           2
such           2
dtype: int64
analytics       6
in              4
or              4
related         4
field           4
risk            4
experience      2
credit          2
modelingdata    2
operation       2
dtype: int64
and           13
in             8
the            7
of             7
experience     5
learning       4
or             3
to             3
decision       3
business       3
dtype: int64
and           11
experience     9
with           6
in             6
or             5
to             3
of             2
code           2
you            2
ability        2
dtype: int64
experience     6
with           5
in             5
data           5
and            5
working        3
development    3
design         2
the            2
software       2
dtype: int64
and     13
you      8
to       8
the      8
can      7
of       5
team     4
a        4
be       4
your     4
dtype: int64
experience       5
of               5
year             4
or               4
data             3
with             3
2                3
visualization    2
modeling         2
machine          2
dtype: int64
experience    9
and           8
with          5
data          4
in            3
learning      3
working       2
to            2
ability       2
machine       2
dtype: int64
and           13
experience    10
science        9
in             7
solution       6
data           6
with           5
the            4
of             4
a              4
dtype: int64
experience    8
and           7
in            6
eg            5
data          4
or            3
a             3
of            3
theory        2
learning      2
dtype: int64
data          12
analytics     10

dtype: int64
and         11
in           7
data         6
to           6
skill        6
the          6
with         5
ability      4
analysis     4
of           3
dtype: int64
and            8
experience     4
application    3
a              3
security       3
in             3
with           3
software       2
to             2
year           2
dtype: int64
a             5
and           5
of            4
data          4
experience    4
with          3
in            3
product       2
role          2
business      2
dtype: int64
learning      6
with          5
model         5
experience    5
in            5
machine       4
and           4
or            4
to            4
science       4
dtype: int64
and           11
experience     9
with           8
of             8
to             7
strong         4
familiar       4
data           4
solution       4
in             3
dtype: int64
and              10
with              5
experience        4
familiarity       3
optimization      3
eg                2
qualification     2
algorithm         2
in                2
proficiency       2
dtype: int64
and           9
in            8
you           7
data          5
a             4
of            4
coding        3
experience    3
with          2
love          2
dtype: int64
a             10
the            4
experience     4
with           3
plus           3
is             3
in             3
of             3
data           2
have           2
dtype: int64
a             8
and           5
data          5
product       4
to            4
experience    4
in            4
with          4
science       3
have          3
dtype: int64
and           5
you           4
product       4
to            3
experience    3
a             3
with          3
in            2
audience      2
have          2
dtype: int64
with          8
and           7
to            6
experience    6
or            3
a             3
analytical    3
working       3
team          2
strong        2
dtype: int64
and            11
data           10
with            5
to              5
of              4
pipeline        3
engineer        3
at              3
engineering     3
technology      2
dtype: int64
and         21
to           7
product      5
data         4
analysis     3
program      3
from         3
for          3
or           3
insight      3
dtype: int64
and           20
to            11
of            10
the            8
data           8
in             7
skill          7
experience     6
excellent      3
with           3
dtype: int64
or            5
experience    5
with          3
and           3
program       3
large         3
working       3
ex            2
degree        2
set           2
dtype: int64
and           8
experience    8
a             7
in            6
to            5
azure         5
with          5
of            3
ability       3
data          3
dtype: int64
experience     11
and             7
skill           7
with            6
technical       5
development     4
or              4
in              4
technology      3
information     3
dtype: int64
or            4
in            4
analytics     4
field         4
related       4
option        3
an            2
experience    2
'             2
year          2
dtype: int64
and           7
to            6
experience    6
or            6
eg            4
market        4
commodity     3
data          3
with          3
model         3
dtype: int64
you           5
a             5
or            4
health        3
of            3
data          3
to            3
experience    3
in            2
have          2
dtype: int64
and           15
a             10
experience     9
of             8
in             7
with           6
plus           5
the            4
skill          4
data           4
dtype: int64
data           6
in             6
to             5
of             4
or             4
and            4
science        4
state          3
engineering    3
a              3
dtype: int64
experience    4
in            4
and           3
to            2
of            2
eg            2
an            2
with          2
a             2
applied       2
dtype: int64
experience     9
data           7
and            7
a              4
with           3
of             3
language       3
in             3
analytical     3
statistical    2
dtype: int64
and         10
learning     4
develop      3
product      3
problem      3
to           3
model        3
on           2
a            2
machine      2
dtype: int64

In [32]:
df.requirements

0      bachelor degree minimum year of experience 4 year demonstrates thorough ability andor ...
1      identify and execute on predictive model to help internal team at masterworks understa...
2      selfmotivated highly disciplined and passionate about discovering the right therapeuti...
3      2 year experience with python java or other objectoriented programming language handso...
4      2 year of work experience doing quantitative analysis to tackle business problem stron...
                                                 ...
195    3 to 5 year of experience in applied data science in a retail marketing or operation e...
196    b in engineering computer science data science or equivalent 2 year of experience in e...
197    4 year of proven experience in an analytics role ability to communicate the result of ...
198    37 year professional experience in data analysis or practical experience building cust...
199    develop and implement scalable and efficient model on largescale datasets to address v...
Name: requirements, Length: 200, dtype: object

### Removing Stopwords

In [33]:
stopwords_list = stopwords.words('english')

In [34]:
stopwords_list

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [10]:
def remove_stopwords(string, extra_words = [], exclude_words = []):
    '''
    This function takes in a string, optional extra_words and exclude_words parameters
    with default empty lists and returns a string.
    '''
    # Create stopword_list.
    stopword_list = stopwords.words('english')
    
    # Remove 'exclude_words' from stopword_list to keep these in my text.
    stopword_list = set(stopword_list) - set(exclude_words)
    
    # Add in 'extra_words' to stopword_list.
    stopword_list = stopword_list.union(set(extra_words))

    # Split words in string.
    words = string.split()
    
    # Create a list of words from my string with stopwords removed and assign to variable.
    filtered_words = [word for word in words if word not in stopword_list]
    
    # Join words in the list back into strings and assign to a variable.
    string_without_stopwords = ' '.join(filtered_words)
    
    return string_without_stopwords

In [36]:
df.requirements = df.requirements.apply(remove_stopwords)

In [37]:
df.requirements

0      bachelor degree minimum year experience 4 year demonstrates thorough ability andor pro...
1      identify execute predictive model help internal team masterworks understand artist mar...
2      selfmotivated highly disciplined passionate discovering right therapeutic right patien...
3      2 year experience python java objectoriented programming language handson experience u...
4      2 year work experience quantitative analysis tackle business problem strong analytical...
                                                 ...
195    3 5 year experience applied data science retail marketing operation environment 5 year...
196    b engineering computer science data science equivalent 2 year experience engineering d...
197    4 year proven experience analytics role ability communicate result analysis clearly te...
198    37 year professional experience data analysis practical experience building customer f...
199    develop implement scalable efficient model largescale datasets address various busines...
Name: requirements, Length: 200, dtype: object

### Text Cleaning Summarize

In [11]:
def prep_text(df, column, extra_words=[], exclude_words=[]):
    '''
    This function take in a df and the string name for a text column with 
    option to pass lists for extra_words and exclude_words and
    returns a df with the original text, stemmed text,
    lemmatized text, cleaned, tokenized, & lemmatized text with stopwords removed.
    '''
    df[column] = df[column].str.lower()
    df['clean'] = df[column].apply(basic_clean)\
                            .apply(tokenize)\
                            .apply(remove_stopwords, 
                                   extra_words=extra_words, 
                                   exclude_words=exclude_words)
    
    df['stemmed'] = df[column].apply(basic_clean)\
                            .apply(tokenize)\
                            .apply(stem)\
                            .apply(remove_stopwords, 
                                   extra_words=extra_words, 
                                   exclude_words=exclude_words)
    
    df['lemmatized'] = df[column].apply(basic_clean)\
                            .apply(tokenize)\
                            .apply(lemmatize)\
                            .apply(remove_stopwords, 
                                   extra_words=extra_words, 
                                   exclude_words=exclude_words)
    
    return df[['clean', 'stemmed', 'lemmatized']]

In [12]:
df[['clean', 'stemmed', 'lemmatized']] = prep_data(df, 'requirements')

In [13]:
df

,company,location,mode,type,level,role,requirements,edu_bachelor,edu_master,edu_phd,edu_other,skills,clean,stemmed,lemmatized
0,PwC,"Austin, TX",Remote,Full time,Entry,Data Science & Machine Learning SA w/ Conversational AI,bachelor degree\nminimum years of experience: 4 year(s)\ndemonstrates thorough abiliti...,22,44,11,23,Python (Programming Language)\nMachine Learning\nSQL\nData Science\nDeep Learning\nDat...,bachelor degree minimum years experience 4 years demonstrates thorough abilities andor...,bachelor degre minimum year experi 4 year demonstr thorough abil andor proven record s...,bachelor degree minimum year experience 4 year demonstrates thorough ability andor pro...
1,Mastersworks,New York City Metropolitan Area,On-site,Full time,Mid-Senior,"VP, Data Science",identify and execute on predictive models to help internal teams at masterworks unders...,23,40,28,9,SQL\nArtificial Intelligence (AI)\nJavaScript\nEntrepreneurship\nAgile Methodologies\n...,identify execute predictive models help internal teams masterworks understand artists ...,identifi execut predict model help intern team masterwork understand artist market seg...,identify execute predictive model help internal team masterworks understand artist mar...
2,ReviveMed,"Cambridge, MA",Hybrid,Full time,Mid-Senior,Biological Data Science,"self-motivated, highly disciplined, and passionate about discovering the right therape...",10,55,31,4,SQL\nJavaScript\nMachine Learning\nLeadership\nPython (Programming Language)\nProgramm...,selfmotivated highly disciplined passionate discovering right therapeutics right patie...,selfmotiv highli disciplin passion discov right therapeut right patient phd ms comput ...,selfmotivated highly disciplined passionate discovering right therapeutic right patien...
3,IBM,"Baton Rouge, LA",On-site,Full time,Entry,Data Engineer,"2 years + experience with python, java, or other object-oriented programming languages...",0,100,0,0,SQL\nGitHub\nLeadership\nOracle Database\nGoogle Cloud Platform (GCP)\nApache Phoenix\...,2 years experience python java objectoriented programming languages handson experience...,2 year experi python java objectori program languag handson experi understand objector...,2 year experience python java objectoriented programming language handson experience u...
4,Expedia Group,"Austin, TX",Hybrid,Full time,Entry,"Data Scientist II, Product Analytics",2+ years of work experience doing quantitative analysis to tackle business problems\ns...,13,72,7,8,SQL\nJavaScript\nLeadership\nMicrosoft SQL Server\nCascading Style Sheets (CSS)\nC#\nO...,2 years work experience quantitative analysis tackle business problems strong analytic...,2 year work experi quantit analysi tackl busi problem strong analyt skill includ abil ...,2 year work experience quantitative analysis tackle business problem strong analytical...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,HD Supply,"Atlanta, GA",On-site,Full time,Entry,Data Scientist,3 to 5 years of experience in applied data science in a retail marketing or operations...,38,44,9,9,SQL\nPython (Programming Language)\nMachine Learning\nTableau\nData Analysis\nMATLAB\n...,3 5 years experience applied data science retail marketing operations environment 5 ye...,3 5 year experi appli data scienc retail market oper environ 5 year quantit analyt exp...,3 5 year experience applied data science retail marketing operation environment 5 year...
196,Optum,"San Antonio, TX",On-site,Full time,Entry,Data Engineer,"bs in engineering, computer science, data science or equivalent\n2+ years of experienc...",50,50,0,0,SQL\nGit\nMicrosoft SQL Server\nLinux System Administration\nData Administration\nData...,bs engineering computer science data science equivalent 2 years experience engineering...,bs engin comput scienc data scienc equival 2 year experi engin data scienc travel 50 t...,b engineering computer science data science equivalent 2 year experience engineering d...
197,Grindr,"Chicago, IL",Remote,Full time,Entry,Data Scientist,4+ years of proven experience in an analytics role\nability to communicate the results...,23,62,9,6,Python (Programming Language)\nSQL\nMachine Learning\nMicrosoft PowerPoint\nLeadership...,4 years proven experience analytics role ability communicate results analyses clearly ...,4 year proven experi analyt role abil commun result analys clearli technic nontechn st...,4 year proven experience analytics role ability communicate result analysis clearly te...
198,1010data,United States,Remote,Full time,Entry,Data Scientist,3-7 years professional experience in data analysis or practical experience buildingâ€¯cu...,33,67,0,0,Python (Programming Language)\nMicrosoft Excel\nSQL\nMicrosoft PowerPoint\nMachine Lea...,37 years professional experience data analysis practical experience building customer ...,37 year profession experi data analysi practic experi build custom face analyt product...,37 year professional experience data analysis practical experience building customer f...
199,Adobe,"Waltham, MA",On-site,Full time,Mid-Senior,Machine Learning Engineer,develop and implement scalable and efficient models on large-scale datasets to address...,8,68,22,2,Machine Learning\nData Science\nSQL\nMicrosoft Excel\nHadoop\nNatural Language Process...,develop implement scalable efficient models largescale datasets address various busine...,develop implement scalabl effici model largescal dataset address variou busi problem u...,develop implement scalable efficient model largescale datasets address various busines...